body {
  margin: 0;
  font-family: sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.lock-screen {
  padding-top: 40%;
  
}

.time {
  font-size: 48px;
  
}

.date {
  margin: 10px 0;
}

.swipe-up {
  margin-top: 20px;
  opacity: 0.6;
}

.home-screen, .message-app {
  padding: 20px;
}

.status-bar {
  background: #222;
  padding: 5px;
  font-size: 14px;
  text-align: right;
}

.apps {
  margin-top: 50px;
}

.app {
  font-size: 40px;
  cursor: pointer;
  margin: 20px;
}

.hidden {
  display: none;
}

.special-message {
  font-size: 18px;
  color: pink;
  margin-top: 30px;
}
h1{
  position:fixed;
  top:60%;
  left:35%;
  color:#B0B0B08A;
}

@keyframes aniunlock{
  from{
    transform: translateY(100%);
    
  }
  to{
    transform: translateY(-2000%);
    
  }
}

#loader{
  height:100vh;
  width: 100vw;
}